{% include 'settings.html.twig' %}

{% javascripts '@AppBundle/Resources/public/js/node_modules/aws-sdk/dist/aws-sdk.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/node_modules/jquery/dist/jquery.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@AppBundle/Resources/public/js/custom/sendEvent.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<h1>Leaderboard</h1>

<button id="sendEvent">Send Test Event</button>